{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="src/images/logo1- SIN FONDO.png" type="image/x-icon">
    <link rel="stylesheet" href="src/css/styles.css">
    <script src="https://kit.fontawesome.com/1cf8526b22.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'web/css/base.css' %}">
    {% block extra_css %} {% endblock %}
</head>
<body>
    <header>
        <div class="header_logo">
            <div>
                <a href="index.html"><img src="src/images/parking.jpg" alt="" class="logo"></a>
            </div>
            <div>
                <h1 class="maquina-escribir">Parking Services<span class="cursor">|</span></h1>
                <h3>Su vehículo, nuestro activo más importante</h3>
            </div>
        </div> 
         <nav>
          <ul class="navList">
            <li class="navItem"><a href="pages/contact.html">Contacto</a></li>
            <li class="navItem"><a href="pages/reservas.html">Reservas</a></li>
            <li class="navItem"><a href="pages/tarifas.html">Tarifas</a></li>
            <li class="navItem"><a href="pages/login.html">Acceso</a></li>
        </ul>
        </nav>

    </header>
    <main>
        {% block main%} {% endblock %}
    </main>
    <footer> 
        <div>
        <a href="pages/about.html">Sobre Nosotros</a>
          </div>
     <div>
        <a href="mailto:parkingservices@example.com">parkingservices@example.com</a>
        <p>Author: ParkingServices.com</p>
      </div>
     <div id="redes">
        <a href="https://twitter.com" target="_blank">   <i class="fa-brands fa-twitter"></i></a>
        <a href="http://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
     </div>
    </footer>
    
</body>
</html>