form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    gap: 5px;
}
input[type="text"], input[type="email"], input[type="password"] {
    font-size: 1.2rem; 
    padding: 10px; 
  }
input[type="submit"] {
    font-size: 1.2rem; 
    padding: 10px; 
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 
main h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    background-color: cadetblue;
}
main p{
    text-align: center;
    margin: 5%;
}