
#mensual {
  font-size: 2rem;
  display: block;
  position: absolute;
  left: -6px;
  top: 180px;
  color: rgb(10, 99, 33);
}

#semanal {
  font-size: 2rem;
  display: block;
  position: absolute;
  left: -6px;
  top: 180px;
  color: rgb(10, 99, 33);


}

main p {
  display: block;
  font-size: 1.2rem;
  padding: 20px;
}

main img {
  opacity: 0.8;
  width: 473px;
  height: 200px;
}

.h3 {
  display: block;
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

#CLICK {
  display: block;
  position: absolute;
  left: 1160px;
  top: 290px;
  font-size: .7REM;

}

.botonlink {
  position: absolute;
  left: 1200px;
  top: 224px;
  width: 90px;
  height: 90px;
  transition: all 1s;

}

.botonlink:hover {
  transform: scale(140%);
}

#CLICK2 {
  display: block;
  position: absolute;
  left: 1160px;
  top: 560px;
  font-size: .7REM;

}

.botonlink2 {
  position: absolute;
  left: 1200px;
  top: 495px;
  width: 90px;
  height: 90px;
  transition: all 1s;


}

.botonlink2:hover {
  transform: scale(140%);
}

#espectaculo {
  display: block;
  position: absolute;
  text-align: center;
  width: 400px;
  height: 30px;
  left: 500px;
  top: 710px;
  font-size: 1.5REM;

}

#CLICK3 {
  display: block;
  position: absolute;
  left: 1160px;
  top: 830px;
  font-size: .7REM;

}

.botonlink3 {
  position: absolute;
  left: 1200px;
  top: 760px;
  width: 90px;
  height: 90px;
  transition: all 1s;

}

.botonlink3:hover {
  transform: scale(140%);
}

#limospec {
  animation-name: opaco;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

@keyframes opaco {

  0% {
    opacity: 0;
  }

  20% {
    opacity: .4;
  }
  50%{
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}

#imgmes {
  animation-name: movimiento;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: reverse;

}
@keyframes movimiento{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(107%);
  }
}
#imgsem{
  animation-name: movimiento2;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}
@keyframes movimiento2{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-107%);
  }
}


/* CSS pra sistema de cajas de 3x3 con FLEX */
.tarifas {
  background-color: rgb(102, 102, 102);
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column { 
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
}

.orange-column {
  position: relative;
  display: inline-block;
  background-color: rgb(131, 147, 221);
  height: 250px;
}

.blue-column {
  background-color: rgb(200, 227, 194);
  height: 250px;
}

.green-column {
  background-color: rgb(202, 206, 202);
  height: 250px;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2
}
